@model IEnumerable<BlogAsp.BusinessLayer.DTO.RoleDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles</h2>
@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
<br />
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<br />

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Administration</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Uuid }, new { @class = "btn btn-success btn-xs" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Uuid }, new { @class = "btn btn-warning btn-xs" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Uuid }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>


<div>
    @Html.ActionLink("Back to Admin", "Index", "Default")
</div>